<?xml version="1.0" encoding="utf-8"?>
<!--
 * Tigatrapp
 * Copyright (C) 2013, 2014  John R.B. Palmer, Aitana Oltra, Joan Garriga, and Frederic Bartumeus 
 * Contact: info@atrapaeltigre.com
 * 
 * This file is part of Tigatrapp.
 * 
 * Tigatrapp is free software: you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by 
 * the Free Software Foundation, either version 3 of the License, or (at 
 * your option) any later version.
 * 
 * Tigatrapp is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
 * See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along 
 * with Tigatrapp.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ceab.movelab.tigerapp"
    android:versionCode="27"
    android:versionName="Tigatrapp Demo 1.03" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DarkThemeSelector" >
        <uses-library android:name="com.google.android.maps" />

        <activity android:name="ceab.movelab.tigabib.Settings" >
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.LanguageSelector"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.Consent" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.Help" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.ViewReportsChecklistTab" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.ViewReportsPhotosTab" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.ViewReportsNotesTab" >
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.ViewReportsTab"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.MissionListActivity" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.MissionActivity" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.AttachedPhotos" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.ReportTool" >
        </activity>
        <activity android:name="ceab.movelab.tigabib.GPLView" >
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.Switchboard"
            android:allowTaskReparenting="true"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.MapData"
            android:hardwareAccelerated="false"
            android:process=":p2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Switchboard" />
        </activity>
        <activity android:name="ceab.movelab.tigabib.PhotoGallery" >
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.MapSelector"
            android:process=":p1" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReportTool" />
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.About"
            android:allowTaskReparenting="true" >
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.License"
            android:allowTaskReparenting="true" >
        </activity>
        <activity
            android:name="ceab.movelab.tigabib.RSSActivity"
            android:parentActivityName="Switchboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Switchboard" />
        </activity>

        <receiver android:name="ceab.movelab.tigabib.TigerBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LAUNCHER" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="ceab.movelab.tigademo.INTERNAL_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name="ceab.movelab.tigabib.FixGet" />
        <service android:name="ceab.movelab.tigabib.FixUse" />
        <service android:name="ceab.movelab.tigabib.SyncData" />
        <service android:name="ceab.movelab.tigabib.Sample" />

        <provider
            android:name="ceab.movelab.tigerapp.TigademoMissionsCP"
            android:authorities="ceab.movelab.tigademo.cp.missions"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="ceab.movelab.tigerapp.TigademoTracksCP"
            android:authorities="ceab.movelab.tigademo.cp.tracks"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <provider
            android:name="ceab.movelab.tigerapp.TigademoReportsCP"
            android:authorities="ceab.movelab.tigademo.cp.reports"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>